@{
    ViewData["Title"] = "Overwatch";
}

<div class="text-center">
	<h1>Overwatch patch note generator</h1>
	<input type="button" class="btn btn-primary" asp-area="" asp-controller="Overwatch" asp-action="button" value="Generate">
</div>

<div class="text-center">
	<p>[CHARACTER]</p>
</div>

<div class="text-center">
	<p>Will now do</p>
</div>

<div class="text-center">
	<p>[FEATURE]</p>
</div>

<div class="text-center">
	<p>with their</p>
</div>

<div class="text-center">
	<p>[ABILITY]</p>
</div>